{% extends 'users/base.html' %}

{% block content %}
<style>
    .section-title{
        font-size: 24px;
        font-weight: bold;
        margin: 30px 0 20px;
        padding-bottom: 10px;
        color: #333;
    }
    .card{
        border-radius: 8px;
        overflow: hidden;
        border: none;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .card:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }
     
    .card-body{
        background-color: #fff;
        padding: 12px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
       
    }
    .movie-card{
        border-radius: 16px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        transition: transform 0.3s, box-shadow 0.3s;

    }
    .movie-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);

    }
    .movie-poster{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
</style>

<div class="container mt-4">  

              <form method="GET" class="row align-items-end mb-4">
                <div class="col-md-4">
                    <label class="small mb-1">Genre</label>
                    <select name="genre" class="form-control">
                        <option value="">All Genres</option>
                        <option value="Action">Action</option>
                        <option value="Horror">Horror</option>
                        <option value="Drama">Drama</option>
                        <option value="Comedy">Comedy</option>
                        <option value="War">War</option>
                        <option value="Romantic">Romantic</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="small mb-1">Language</label>
                    <select name="language" class="form-control">
                    <option value="">All languages</option>
                    <option value="Hindi">Hindi</option>
                    <option value="English">English</option>
                </select>
            </div>
            <div class="col-md-4">
                <button type ="submit" class="btn btn-primary btn-block mt-3">Apply</button>
            </div>
        </form>

        <h3 class="section-title">All Movies</h3>

    <div class="row" id="movieList">
        {% if movies %}
         {% for movie in movies %}
        <div class="col-md-3 col-sm-4 mb-4">
            <div class="card h-100 movie-card shadow-sm">
    
                <div style="height: 300px; width: 100%; overflow: hidden; border-radius: 18px 18px 0 0;">
                {% if movie.image %}
                <img 
                 src="{{ movie.image.url }}"
                 class="card-img-top"
                 alt="{{ movie.name }}"
                  style="width:100%; height:100%; object-fit:cover; border-radius: 12px;">
                {% endif %}
                </div>
                <div class="card-body d-flex flex-column text-center">
                    <h5 class="card-title text-center">{{ movie.name }}</h5>
                    <p class="card-text text-center small text-muted">
                        {{ movie.genre }} | {{ movie.language }}
                    </p>
                    <div class="mt-auto">
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div> 
            </div> 
        </div>
             {% endfor %}
         {% else %}
            <div class="col-12 text-center mt-5">
                <h4 class="text-muted">No movies found.</h4>

                <a href="{% url 'movie_list' %}" class="btn btn-outline-secondary mt-2">Clear Filters</a>
            </div>
            {% endif %}
    </div> </div>
    {% endblock %}
