 {% extends "admin/change_list.html" %}
 {% load i18n %}
 {% block content_insights %}
  <h1>Booking Insights</h1>
  <hr>
    <div style="display: flex; gap:21px; margin-top: 20px; font-family:">
        <div style="color: #444";>About Dashboard<h1>
            <hr>
            <div class="display:flex; gap: 15px; margin-top: 20px;">
                <b style="color: #28a745 ;">TOTAL REVENUE</b> 
                <h2 style="margin:5px 0;">{{ total_revenue }} INR</h2>
            </div>
        <div style="flex:  1; border: 2px solid #007bff; padding: 15px; border-radius: 10px;">
            <b style="color: #007bff;">TOP MOVIES<b/>
            <ul style="margin: 5px 0; padding-left: 20px;">
                {% for movies in popular_movies%}
                  <li>{{ movie.name}}</li>
                {% endfor %}
            </ul>
        </div>
       <div style="flex: 1; border: 2px solid #6c757d; padding: 15px; border-radius: 10px;">
                <b style="color: #6c757d;">BUSIEST THEATERS</b>
                <ul style="margin: 5px 0; padding-left: 20px;">
                    {% for theater in busiest_theaters %}
                        <li>{{ theater.name }}</li>
                    {% endfor %}
                </ul>
            </div>
    </div>
     {{ block.super}}
    {% endblock %}
